<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".build/phpunit/phpunit.cache"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/SKA</directory>
        </testsuite>
    </testsuites>

<!-- The following works for PHP == 7.2 -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

<!-- The following worked for PHP >= 7.3 -->
<!--    <coverage processUncoveredFiles="true">-->
<!--        <include>-->
<!--            <directory suffix=".php">src</directory>-->
<!--        </include>-->
<!--    </coverage>-->

</phpunit>
